.admin-login-form {
    html,body{
        height:100%;
        margin:0px;
        padding:0px;
        overflow:hidden;
    }
    .tag{ 
        font-size:18px;
    }
    .container{
        width:50%;
        height:100%;
        background:#D8D9DE;
        /* border:1px solid blue; */
        margin-right:0px;
    }
    #email-pass{
        display:flex;
        flex-direction:column;
        margin-left: 260px;
        padding-top:150px;
        font-family:'Poppins','sans-serif'; 
    }
    .input-box{
        width:380px;
        height:40px;
        border-radius:18px;
        padding:5px;
        font-size:14px;
        background:#D8D9DE;
        border:1px solid #808080;  
    }
    #box1{
        margin-bottom:25px;
    }
    #box2{
        margin-bottom:15px;
    }
    #welcome-tag{
        font-style:'sans-serif';
        font-weight:6000;
        margin-left:55px;
        margin-bottom:-10px;
    }
    .tag-line{
        color:#808080;
        margin-left:18px;
    }
    .rem-me{
        margin-bottom:0px;
        font-style:'sans-serif';
        font-weight:bold;
        display:flex;
    }
    .check-inp{
        cursor: pointer;
    }
    .btn{
        background:#D8D9DE;
        border:none;
        font-size:16px;
        font-family:'Poppins','sans-serif'; 
        font-weight:bold;
        cursor:pointer;
        margin-left:110px;
    }
    #sign-in-btn{
        margin-top:20px;
        margin-left:0px;
        margin-right:50px;
        width:390px;
        height:50px;
        border-radius:18px;
        border:none;
        background:#EA454C;
        color:#D8D9DE;
        font-weight:bold;
        font-size:16px;
        cursor:pointer;
    }
    #outlook-btn{
        width:390px;
        height:50px;
        border-radius:18px;
        border:0.5px solid #808080;
        background:#D8D9DE;
        font-weight:bold;
        font-size:16px;
        padding-left:10px;
        display:flex;
        justify-content:center;
        align-items:center;
        margin-top:20px;
        margin-bottom:240px;
        cursor: pointer;
    }
    .outlook-img{
        margin-right:10px;
    }
    #food_img{
        /* border:2px solid red;  */
        margin-left:955px;
        margin-top:-950px; 
        width:50.5%;   
    }
    .app-container{
       display:flex;
       flex-direction: column; 
    }
}